[submodule "beancount"]
	path = beancount
	url = https://aur.archlinux.org/beancount.git
[submodule "yed"]
	path = yed
	url = https://aur.archlinux.org/yed.git
[submodule "fava"]
	path = fava
	url = https://aur.archlinux.org/fava.git
[submodule "ttf-comic-neue"]
	path = ttf-comic-neue
	url = https://aur.archlinux.org/ttf-comic-neue.git
[submodule "ttf-gelasio-ib"]
	path = ttf-gelasio-ib
	url = https://aur.archlinux.org/ttf-gelasio-ib.git
[submodule "ttf-iosevka-term"]
	path = ttf-iosevka-term
	url = https://aur.archlinux.org/ttf-iosevka-term.git
