[submodule "beancount"]
	path = beancount
	url = https://aur.archlinux.org/beancount.git
[submodule "yed"]
	path = yed
	url = https://aur.archlinux.org/yed.git
[submodule "fava"]
	path = fava
	url = https://aur.archlinux.org/fava.git
