[submodule "beancount"]
	path = beancount
	url = https://aur.archlinux.org/beancount.git
[submodule "yed"]
	path = yed
	url = https://aur.archlinux.org/yed.git
[submodule "fava"]
	path = fava
	url = https://aur.archlinux.org/fava.git
[submodule "ttf-comic-neue"]
	path = ttf-comic-neue
	url = https://aur.archlinux.org/ttf-comic-neue.git
[submodule "ttf-gelasio-ib"]
	path = ttf-gelasio-ib
	url = https://aur.archlinux.org/ttf-gelasio-ib.git
[submodule "ttf-iosevka-term"]
	path = ttf-iosevka-term
	url = https://aur.archlinux.org/ttf-iosevka-term.git
[submodule "stress-ng"]
	path = stress-ng
	url = https://aur.archlinux.org/stress-ng.git
[submodule "ttf-symbola"]
	path = ttf-symbola
	url = https://aur.archlinux.org/font-symbola.git
[submodule "dropbox"]
	path = dropbox
	url = https://aur.archlinux.org/dropbox.git
[submodule "heroku-cli"]
	path = heroku-cli
	url = https://aur.archlinux.org/heroku-cli.git
[submodule "nautilus-dropbox"]
	path = nautilus-dropbox
	url = https://aur.archlinux.org/nautilus-dropbox.git
[submodule "nodenv"]
	path = nodenv
	url = https://aur.archlinux.org/nodenv.git
[submodule "nodenv-node-build-git"]
	path = nodenv-node-build-git
	url = https://aur.archlinux.org/nodenv-node-build-git.git
[submodule "python-magic-ahupp"]
	path = python-magic-ahupp
	url = https://aur.archlinux.org/python-magic-ahupp.git
[submodule "rbenv"]
	path = rbenv
	url = https://aur.archlinux.org/rbenv.git
[submodule "ruby-build-git"]
	path = ruby-build-git
	url = https://aur.archlinux.org/ruby-build-git.git
[submodule "slack-desktop"]
	path = slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "spotify"]
	path = spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "zoom"]
	path = zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "devops-tools-git"]
	path = devops-tools-git
	url = https://github.com/kriansa/PKGBUILDs.git
[submodule "ttf-nerd-glyphs"]
	path = ttf-nerd-glyphs
	url = https://github.com/kriansa/PKGBUILDs.git
[submodule "gnome-shell-extension-remove-accessibility"]
	path = gnome-shell-extension-remove-accessibility
	url = https://github.com/kriansa/PKGBUILDs.git
[submodule "ansible-bundler"]
	path = ansible-bundler
	url = https://aur.archlinux.org/ansible-bundler.git
[submodule "pacom"]
	path = pacom
	url = https://aur.archlinux.org/pacom.git
[submodule "emacs-git"]
	path = emacs-git
	url = https://aur.archlinux.org/emacs-git.git
[submodule "gnome-shell-extension-system-monitor-git"]
	path = gnome-shell-extension-system-monitor-git
	url = https://aur.archlinux.org/gnome-shell-extension-system-monitor-git.git
[submodule "ananicy-git"]
	path = ananicy-git
	url = https://aur.archlinux.org/ananicy-git.git
[submodule "mos"]
	path = mos
	url = https://github.com/mongoose-os/mos.git
[submodule "bitwarden-cli"]
	path = bitwarden-cli
	url = https://aur.archlinux.org/bitwarden-cli.git
